@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffd571;
}

.titulo{
    background-color: #411f1f;
    top: 0;
    padding: 20px;
    border-bottom: 3px solid black ;
}

.titulo > h1{
    color: white;
    font-family: "Lato";
    font-size: 48px;
}

.Tablero{
    border: 3px solid white;
    border-radius: 10px ;
    margin: 15px auto;
    text-align: center;
    padding: 10px;
    width: 200px;
    height: 100px;
    position: relative;
    background-color: #1b262c;
}

.Tablero > div > p{
    font-size: 20px;
    color: white;
    font-family: "Lato";
}

.Tablero > span > p{
    font-size: 20px;
    color: white;
    font-family: "Lato";
}

.user-id{
    position: absolute;
    top: 10px;
    border-bottom: 1px solid white ;
}

.cpu-id{
    position: absolute;
    top: 10px;
    left: 160px;
    border-bottom: 1px solid white ;
}

#user-v{
    position: absolute;
    top: 40px;
    right:145px;
    color: white;
    font-family: "Lato";
}

#cpu-v{
    position: absolute;
    top: 40px;
    left:165px;
    color: white;
    font-family: "Lato";
}

.Resultado > h1{
    text-align: center;
    font-size: 20px;
    font-family: "Lato";
    margin-bottom: 50px;
    margin-top: 50px;
}

.opciones {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
}

.eleccion{
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    border: 4px solid white;
    transition: 0.2s all ease-in;
}

.eleccion:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.start{
    text-align: center;
    font-size: 18px;
    font-family: "Lato";
    display: block;
}

.restart {
    text-align: center;
    margin-top: 20px;
}

#restart{
    visibility: hidden;
    color: white;
    font-family: "Lato";
    font-size: 15px;
    background-color: #1b262c;
    height: 50px;
    width: 80px;
    margin: auto;
    padding-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 3px  black;
    transition: 0.2s all ease;
}

#restart:hover{
    border: 3px solid white;
    background-color: rgb(65, 31, 31, 0.6);
    box-shadow: none;
    cursor: pointer;
}

.footer {
    margin-top: 149px;
    bottom: 0;
    text-align: center;
    background-color: darkgrey;
    height: 77px;
}

.footer > h1{
    padding-top: 25px;
    font-family: "Lato";
    color:white;
    font-size: 20px;
}

.gano{
    border: 4px solid #00ff00;
}

.perdio{
    border: 4px solid #ff0000;
}

.empate{
    border: 4px solid #808080;
}
